[mysql]
host=localhost
user=root
password=your_password_here
database=llm_platform
port=3306
ssl_ca=

# For Docker environment, use:
# host=db
# user=root
# password=
# database=llm_platform
# port=3306